/* Tổng thể */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

/* Header */
.header-title {
    background-color: #4caf50;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Video Container */
.video-container {
    height: 520px;
    /* Chiều cao cố định (có thể điều chỉnh) */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container .iframe {
    width: 100%;
    height: 520px;
    object-fit: cover;
}

.video-info {
    font-size: 0.9rem;
    color: #333;
    background-color: #d7e1ef;
    padding: 8px;
    border-radius: 8px;
}

/* Button Group */
.button-group button,
.clear-button button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.button-group button:hover,
.clear-button button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* Chọn Video */

.video-select {
    margin-left: 120px;
}


.video-select label {
    font-weight: bold;
    margin-right: 8px;
    color: #555;
}

.video-select .form-label {
    font-weight: bold;
    font-size: 1rem;
    color: #555;
}

.video-select .form-select {
    min-width: 200px;
    height: calc(2.25rem + 2px);
    /* Đảm bảo chiều cao phù hợp với label */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.video-select .form-select:focus {
    border-color: #4caf50;
    /* Màu khi chọn */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.form-select {
    margin-top: 5px;
    border-radius: 8px;
}

/* Violation List */
.violation-list {
    border-radius: 12px;
    position: relative;
    max-height: 572px;
    padding: 0px 10px 5px 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.violation-list::-webkit-scrollbar {
    display: none;
    /* Ẩn scrollbar trên Chrome, Safari */
}

.violation-list .label-violation-list {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: sticky;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
}

.violation-list .list-group-item {
    font-size: 0.95rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
}

/* Style buttons in list items */
.list-group-item button {
    width: 100%;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    color: #121111;
    background-color: white;
    transition: background-color 0.3s ease;
    text-align: center;
    border: none;
}

.list-group-item button:hover {
    background-color: #f06262;
    color: #fff;
}

.img-violation {
    max-width: 75%;
    width: 200px;
}